@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand:#e66303;
  --sun:#fed537;
}

html,body,#root{ height:100%; }
body{ font-family: theme(fontFamily.display); }
a{ @apply hover:opacity-90 transition-opacity; }
